<div class="container border border-primary my-5 py-3">
  <div class="row ">
    <div class="col-md-8 mx-auto text-center">
      <h3>Add note!</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Title goes here !</label>
          <input [(ngModel)]="title" type="text" name="title"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">How was your day !</label>
          <textarea [(ngModel)]="body" class="form-control" name="body" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" (click)="saveNote()" >Save</button>
      </form>
    </div>
  </div>
</div>


