<div class="container border border-primary my-5 py-3">
  <div class="row">
    <div class="col-md-6 mx-auto text-center">
      <h2>Login</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <form>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" >
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password">
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>

  </div>
</div>
